[package]
name = "run-bpf-tests"
description = "Blockchain, Rebuilt for Scale"
version = "1.0.0"
documentation = "https://docs.rs/solana"
homepage = "https://solana.com/"
readme = "README.md"
repository = "https://github.com/solana-labs/cargo-run-bpf-tests"
authors = ["Solana Maintainers <maintainers@solana.foundation>"]
license = "Apache-2.0"
edition = "2018"
publish = false

[dependencies]
regex = "1.4.5"
solana-bpf-loader-program = { git = "https://github.com/solana-labs/solana", version = "=1.9.0" }
solana-logger = { git = "https://github.com/solana-labs/solana", version = "=1.9.0" }
solana-program-runtime = { git = "https://github.com/solana-labs/solana", version = "=1.9.0" }
solana-sdk = { git = "https://github.com/solana-labs/solana", version = "=1.9.0" }
solana_rbpf = "=0.2.14"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "cargo-run-bpf-tests"
path = "src/main.rs"
